/* setting up the grid
see https://css-tricks.com/snippets/css/complete-guide-grid/#prop-display
for more into */
body {
  background-color: #fae6e7;
  color: #060cb6;
  font-size: 22px;
}

.page {
  display: grid;
  width: 85%;
  margin: 0 auto;
}

.header-menu {
  /* background-color: lightgreen; */
  padding-bottom: 5px;
}

.mobile-menu {
  /* background-color: lightblue; */
  padding-bottom: 10px;
}

.header-title {
  /*background-color: green;*/
}

.header-subtitle {
  /* background-color: red; */
}

.main-section {
  /* background-color: turquoise; */
}

.footer-contact {
  /* background-color: black; */
}

.footer-support {
  /* background-color: yellow; */
}

.footer-partner {
  /* background-color: purple; */
}

/* menu for large screens*/
#menu-web {
  font-size: 1.6em;
  padding-left: 0px;
}

#menu-web ul {
  height: auto;
}

#menu-web li {
  margin-right: 40px;
  list-style-type: none;
  float: left;
}

#menu-web li.about {
  text-decoration: line-through;
  border-bottom: none;
  color: #b60664;
}

#menu-web li.about a:hover {
  border-bottom: none;
}

#menu-web a {
  color: #b60664;
  text-decoration: none;
}

#menu-web li a:hover {
  border-bottom: 1px #b60664 dotted;
}

/* menu for small screens*/
#menu-mobile {
  font-size: 1.6em;
  padding-left: 0px;
}

#menu-mobile ul {
  height: auto;
}

#menu-mobile li.about {
  text-decoration: line-through;
  color: #b60664;
}

#menu-mobile li {
  margin-right: 40px;
  margin-bottom: 5px;
  list-style-type: none;
}

#menu-mobile a {
  color: #b60664;
  text-decoration: none;
}

h1 {
  /*header-title*/
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 3px;
  line-height: 70%;
}

h2 {
  /*header-subtitle*/
  font-size: 1.2em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  line-height: 50%;
}

p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  line-height: 163%;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 400px) {
  #menu-style li a:hover:not(.active) {
    border-bottom: none;
  }

  .header-menu {
    display: none;
  }

  . p {
    font-size: 1.1em;
  }

  body {
    /* background-color: #F09A9D; */
    /* Red */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 401px) and (max-width: 700px) {
  body {
    /* background-color: #F5CF8E; */
    /* Yellow */
  }

  #menu-style li a:hover:not(.active) {
    border-bottom: none;
  }

  .mobile-menu {
    display: none;
  }
}

/* larger screens */
@media only screen and (min-width: 701px) {
  .mobile-menu {
    display: none;
  }
}
