 <footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">


              <!-- Grid row -->
        <div class="row logos">
            <div class="col-md-12 mt-md-0 mt-3">
                <h5 class="footer-text">Control Shift is an arts programme from Bristol, UK, bringing creative and critical approaches to technology.</h5>
            </div>
        </div>
        <!-- Grid row -->

        
              <!-- Grid row -->
        <div class="row logos">
            <div class="col-md-12 mt-md-0 mt-3">
                <h5 class="footer-text">Join our mailing list: <a href ="https://mailchi.mp/46ef034d1381/control-shift-network" target="_blank">sign-up</a> for updates direct to your inbox</h5>
            </div>
        </div>
        <!-- Grid row -->

        
        <!-- Grid row -->
        <div class="row logos">
             <div class="col-sm ">
                 Twitter Instagram Facebook
                <hr class="yelz" width="70%">
            </div>
        </div>
        <!-- Grid row -->
        
            <!-- Grid row -->
        <div class="row logos">
            <div class="col-md-12 mt-md-0 mt-3">
                <h5 class="footer-text">Control Shift is funded by</h5>
            </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row logos">
            <div class="col-sm "></div>
            <div class="col-sm text-center"><img src="logos/ace.png" alt="Arts Council England logo" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/ioc.png" alt="Institute of code logo" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/swctn.png" alt="SWCTN logo" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/KWMC.png" alt="Knowle west Media Centre logo" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/uwe.png" alt="University of the west England logo" class="img-fluid"></div>
            <div class="col-sm"></div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row logos">
            <div class="col-md-12 mt-md-0 mt-3">
                <h5 class="footer-text">and made with support from</h5>
            </div>
        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row logos">
            <div class="col-sm "></div>
            <div class="col-sm text-center"><img src="logos/pcd.png" alt="processing community day logo" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/watershed.png" alt="watershed logo" class="img-fluid"></div>
              <div class="col-sm text-center"><img src="logos/furtherfield.png" alt="Furtherfield" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/pmstudio.png" alt="bristol city council logo" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/wtc.png" alt="we the cuious logo" class="img-fluid"></div>
            <div class="col-sm text-center"><img src="logos/bcc.png" alt="bristol city council logo" class="img-fluid"></div>
          
            <div class="col-sm"></div>
        </div>
        <!-- Grid row -->



    </div>

    <!-- Footer Text -->

</footer>