/* STYLES FOR ARTWORK PAGE */

/* Artwork grid: all styles */

.artworkImageDiv { /* Div wrapping each image & text  */
    margin-top: 25px;
    margin-bottom: 25px;
}


.artworkImage { /* Image itself */
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* opacity: 0.6; */
}

.artworkImage:hover { /* Image itself */
    /* opacity: 0.6; */
    border-style: dotted;
    border-color: #65dbb6;
}


/* Filter Button Styles on artworks page */

.filterInputs {
    padding-bottom: 5px;
}

.filterInputs input {
    display: none; /* does not display tick box as per normal radio button */
}
  
.filterInputs label {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none; /* prevent highlight */
}
  
.filterInputs i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
  
.time-filter input:checked + i {
    background: #074bdd;
}

.time-filter {
    color: #053cb0;
    border: 1px solid #053cb0;
}

.online-filter {
    color: #65dbb6;
    border: 1px solid #65dbb6;
}

.online-filter input:checked + i {
    background: #65dbb6;
}

label input[type="radio"]:checked ~ span {
    color: #FDFCD1;
}

/* MODAL STYLES */

/* modal styles: closs modal 'X' annimation */
.modal-close-button {
    background-color: #074bdd;
    border: none;
    outline:none;
}

.modal-close-button:focus {
    outline: 0 !important;
}

.close-container{
    position: relative;
    margin: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .leftright{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #FDFCD1;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
  
  .rightleft{
    height: 4px;
    width: 25px;
    position: absolute;
    margin-top: 24px;
    background-color: #FDFCD1;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  
  .close{
    margin: 60px 0 0 5px;
    position: absolute;
  }
  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #07dd99;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #07dd99;
  }
  .close-container:hover label{
    opacity: 1;
  }
  
/* modal styles: background opacity when modal is open */

.modal-backdrop.show {
    opacity: 0.9;
}

.modal-content {
    background-color: #074bdd;
}

.modal-header {
    border-bottom: 0 none;
    padding-top: 0;
}

.modal-footer {
    border-top: 0 none;
}

/* modal styles: text */

.modal-header-text {
    color: #07dd99;
    text-shadow: 1px 1px #FDFCD1;
    text-align: center;
    background-color: #074bdd;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;

}

.modal-h2-text {
    color: #FDFCD1;
}

.modal-text {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #FDFCD1;
    margin-bottom: 5px;
}

.modal-top-text {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: #07dd99;
}

.modal-link-text {
    border-bottom: 1px solid #07dd99;
}

.modal-link-text:hover {
    color: #FDFCD1;
    border-bottom: 1px solid #FDFCD1

}

.text-center {
    text-align: center;
}

.bottom-bar-modal-info {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: #FDFCD1;
}

.book-now {
    text-decoration: underline;
}

/* Modal: artist social media container */

#socialMediaContainer {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    #socialMediaContainer {
        width: 100%;
    }
}

/* convert social media svgs to blue & turn green on hover */
.filter-blue{
    filter: invert(87%) sepia(35%) saturate(261%) hue-rotate(343deg) brightness(108%) contrast(103%);
}

.filter-blue:hover {
    filter: invert(79%) sepia(35%) saturate(6989%) hue-rotate(114deg) brightness(101%) contrast(94%);
  }

.icon-max-width {
    max-width: 20px;
}

.hide { /* To hide social media icons not present */
    display: none;
}

/* Modal: top panel with Where/When/Book now or calendar*/

.border-right {
    border-right: 1px solid #07dd99 !important; 
}

.border-left {
    border-left: 1px solid #07dd99 !important; 
}

/* Modal: Add to calendar button styles*/

.addeventatc {
    background-color: #074bdd;
    color: #07dd99 !important;
    border: 1px solid #07dd99;
}

.addeventatc:hover  {
    color: #074bdd !important;
    background-color: #FDFCD1;
    border: 1px solid #074bdd;
}

.addeventatc {visibility:hidden;}


.addeventatc_icon {
    filter: invert(79%) sepia(35%) saturate(6989%) hue-rotate(114deg) brightness(101%) contrast(94%);
}

.addeventatc:hover .addeventatc_icon {
    filter: invert(21%) sepia(89%) saturate(2647%) hue-rotate(218deg) brightness(91%) contrast(107%);
}

/* SCHEDULE PAGE */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

.row {
    display: flex;
}

.box {
    background: #ecbbf0;
    margin: 5px;
    position: relative;
    width: calc(100%/8);
    min-width: 150px;
}

.schedule-box-text {
    color: #074bdd;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin: 5px;
}

.event-text {
    color: #FDFCD1;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    margin: 5px;
}

.box:after {
    content: "";
    float: left;
    padding-top: 90%;
}

.inner-div {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.title {
    border-bottom: 1px solid #053cb0;
}

 .single-event-box {
     background-color: #053cb0;
     width: 70%;
     display: inline-block;
     margin: 5px 10px 5px 10px;
 }

/* all 3 weeks box*/

.box-long {
    background: #ecbbf0;
    margin: 5px;
    position: relative;
    width: 93%;
    min-width: 120px;
}

.box-long:after {
    content: "";
    float: left;
    padding-top: 200px;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
