/* STYLES FOR ARTWORK PAGE */

/* Artwork grid: all styles */

.blueSquare {
    object-fit: scale-down;
    background: #040995;
    background-image: linear-gradient(rgba(4, 9, 149 ) 100%, rgba(7, 221, 153) 0%);
    max-width: 560px;
    margin: 0 auto;
}

.blueSquare:hover {
    background:none;  
    background-image: none;
}

.artworkImage {
    /* Image itself */
    object-fit: scale-down;
    /* height: 100%; */
    opacity: 0.6;
}

.artworkImage:hover {
    /*    transform: scale(1.01) translate(0px, -3px);*/
    opacity: 100;
}

/* #outerImage:hover > #gridTextBoxHighlight { color: var(--light-link); } */


/* Filter Button Styles on artworks page */

.filterInputs {
    padding-bottom: 5px;
}

.filterInputs input {
    display: none;
    /* does not display tick box as per normal radio button */
}

.filterInputs label {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    /* prevent highlight */
}

.filterInputs i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.time-filter input:checked + i {
    background: var(--mid-primary);
}

.time-filter {
    color: var(--dark-primary);
    border: 1px solid var(--dark-primary);
    font-family: var(--font-large-headings);
}

.online-filter {
    color: var(--dark-link);
    border: 1px solid var(--dark-link);
    font-family: var(--font-large-headings);
}

.online-filter input:checked + i {
    background: var(--dark-link);
}

label input[type="radio"]:checked ~ span {
    color: var(--background);
}

/* MODAL STYLES */

/* modal styles: closs modal 'X' annimation */
.modal-close-button {
    background-color: var(--background);
    border: none;
    outline: none;
}

.modal-close-button:focus {
    outline: 0 !important;
}

.modal-body {
    padding-top: 0;
}

.close-container {
    position: relative;
    margin: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.leftright {
    height: 4px;
    width: 35px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--dark-primary);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    height: 4px;
    width: 35px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--dark-primary);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close {
    margin: 60px 0 0 5px;
    position: absolute;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: var(--light-link-hover);
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: var(--light-link-hover);
}

.close-container:hover label {
    opacity: 1;
}

/* modal styles: background opacity when modal is open */

.modal-backdrop.show {
    opacity: 0.85;
}

.modal-content {
    background-color: var(--background);
}

.modal-header {
    border-bottom: 0 none;
    /*   padding-top: 3px;*/
    padding: 0.3rem;
}

.modal-footer {
    border-top: 0 none;
}

#modalImage {
    width: 100%;
}

/* modal styles: text */

.modal-header-text {
    color: var(--dark-primary);
    /*    text-shadow: 1px 1px var(--background);*/
    text-align: center;
    background-color: var(--background);
    font-family: var(--font-small-headings);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 3px;
    padding-bottom: 20px;
    padding-top: 20px;


}

.artwork-title-text {
    margin: 30px;
}

.modal-h2-text {
    color: var(--dark-primary);
    text-align: center;
}

.about-modal-text {
    font-size: 1em;
    font-family: var(--font-paragraph-modal);
    color: var(--dark-primary);
    margin-bottom: 3px;
    font-style: italic;
}

.modal-text {
    font-size: 20px;
    font-family: var(--font-paragraph-modal);
    color: var(--dark-primary);
    margin-bottom: 3px;
}

.modal-top-text {
    font-size: 18px;
    font-family: var(--font-paragraph-modal);
    color: var(--dark-primary);
}

/* .modal-link-text {
    border-bottom: 1px solid var(--dark-link);
}

.modal-link-text:hover {
    color: var(--dark-primary);
    border-bottom: 1px solid var(--background)
} */

.text-center {
    text-align: center;
}

.bottom-bar-modal-info {
    font-size: 14px;
    font-family: var(--font-paragraph-modal);
    color: var(--dark-primary);
}

.book-now {
    text-decoration: underline;
}

#actionLink {
    border: 1px solid var(--dark-primary);
    padding: 4%;
}

#actionLink:hover {
    border: 1px solid var(--light-link-hover);
    padding: 10px;
}

.padding-modal-right-left {
    padding-right: 20px;
    padding-left: 20px;
}

.col-sm text-center {
    padding: 2px;
}

/* Modal: artist social media container */

#socialMediaContainer {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    #socialMediaContainer {
        width: 100%;
    }

    .padding-modal-right-left {
        padding-right: 5px;
        padding-left: 5px;
    }

    #modalImage {
        width: 100%;
    }
}

.icon-max-width {
    max-width: 20px;
}

.hide {
    /* To hide social media icons not present */
    display: none;
}

/* Modal: top panel with Where/When/Book now or calendar*/

.border-sides {
    border-right: 1px solid var(--dark-link);
    border-left: 1px solid var(--dark-link);
}


@media only screen and (max-width: 480px) {
    .border-sides {
        border: none;
    }

    .when-text {
        padding-bottom: 10px;
    }

    .time-text {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--dark-link);
        width: 50%;
        margin: 0 auto;
    }

    #bookNowContainer {
        padding-top: 10px;
    }

    #doNowContainer {
        padding-top: 10px;
    }

    #calendarContainer {
        padding-top: 10px;
    }
}

/* targeting tablets only */
@media only screen and (min-width:480px) and (max-width:768px) {
    #bookingLink {
        border: none;
        border-bottom: 1px solid var(--dark-link);
        padding: 0;
    }

    #doNowLink {
        border: none;
        border-bottom: 1px solid var(--dark-link);
        padding: 0;
    }

}

/* SCHEDULE PAGE */

/* the indivdual day boxes - setting width and min-width here*/
.box { 
    background: var(--background);
    border: solid 1px var(--dark-primary);
    margin: 5px;
    position: relative;
    width: calc(100%/8);
    /* min-width: 95px; */
}

/* This sets each box as a square and sets the height to this padding: stops boxes being different sizes depending on content */
.box:after {
    content: "";
    float: left;
    padding-top: 100%;
}

/* style for inner div of each box - centering divs containing text & event boxes inside */
.inner-div { 
    background: var(--background);
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

/* diagonal cross on unactive days */
.greyBox { 
    background: repeating-linear-gradient(
        45deg,
        #053cb0,
        #053cb0 1px,
        #FDFCD1 1px,
        #FDFCD1 20px
      );
}

/* text styles for box title : day of the week */
.schedule-box-text {
    color: var(--dark-primary);
    font-size: 16px;
    font-family: var(--font-paragraph-modal);
    margin: 1px;
}

/* styles for single event pink box */
.single-event-box {
    background-color: var(--text-highlight);
    width: 80%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}


/* text styles for text in event pink box */
.event-text { 
    color: var(--dark-primary);
    font-size: 14px;
    font-family: var(--font-paragraph-modal);
    margin-bottom: 0px;
}

/* border under date in box */
.title {
    border-bottom: 1px solid var(--dark-primary);
}

/* width all splits the rows in weeks */
.widthAll {
    width: 100%
}

/* centers wider calendar box */
.row-schedule {
    max-width: 1120px;
    margin: 0 auto;
    justify-content: center;
}


/* SMALL PHONES: 1 BOX PER WIDTH */
@media only screen and (max-width: 420px) {
    [class*="col-"] {
      width: 100%;
    }
    .greyBox { /*do not display crossed out days on mobile screens */
        display: none;
    }
    .single-event-box {
        width: 95%;
        margin: 5px 0 5px 0;
        padding: 20px 0 20px 0;
    }
}

/* LARGER PHONES: 2 BOXES PER WIDTH */
@media (min-width: 420px) and (max-width: 600px){ 
    [class*="col-"] {
        width: 45%;
    }
    .greyBox { /*do not display crossed out days on mobile screens */
        display: none;
    }
    .widthAll { /* This removes the divide between week rows */
        width: 0% !important;
    }
} 

/* TABLETS: 3 BOXES PER WIDTH */
@media (min-width: 600px) and (max-width: 900px){ 
    [class*="col-"] {
        width: 30%;
    }
    .greyBox { /*do not display crossed out days on mobile screens */
        display: none;
    }
    .widthAll { /* This removes the divide between week rows */
        width: 0% !important;
    }
} 

/* LAPTOPS & DESKTOPS */
@media (min-width: 1190px) { 
    .box { 
        min-width: 150px
    } 
} 
