/* setting up the grid
see https://css-tricks.com/snippets/css/complete-guide-grid/#prop-display
for more into */
body {
  background-color: #EDDD6E !important;
  color: #040995;
  font-size: 22px;
  /*background-image: linear-gradient(rgba(242, 220, 9, 0.99) 0%, rgba(255, 255, 255, 0) 50%);*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.99) 0%, rgba(255, 255, 255, 0) 50%);
}

.container{
  width: 100%;
  /*border: 1px black solid;*/
}

.jumbotron{
  background: transparent;
  min-height: 100vh;
}

.jumbotron h2{
  font-style: italic;
}



.navbar {
    font-family: "Times", serif;
    background-color: transparent;

}

.navbar .active {
  text-decoration: line-through !important;
}

.navbar-light .navbar-toggler {
    color: rgba(223, 56, 56, 0.5);
    border: 0px;
    /*background: #060cb6;*/
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(182,6,100, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.footer, .page-footer{
  background-color: #040995  !important;
  color: #fae6e7;
}

.logos img {
  /*max-width: 100px;*/
  max-height: 70px;
  margin: 20px;
  /*border: 1px solid white;*/
}

/*becca styles*/
.page {
  display: grid;
  width: 85%;
  margin: 0 auto;
}

.header-menu {
  /* background-color: lightgreen; */
  padding-bottom: 5px;
}

.mobile-menu {
  /* background-color: lightblue; */
  padding-bottom: 10px;
}

.header-title {
  /*background-color: green;*/
}

.header-subtitle {
  /* background-color: red; */
}

.main-section {
  /* background-color: turquoise; */
}

.footer-contact {
  /* background-color: black; */
}

.footer-support {
  /* background-color: yellow; */
}

.footer-partner {
  /* background-color: purple; */
}

/* menu for large screens*/
#menu-web {
  font-size: 1.6em;
  padding-left: 0px;
}

#menu-web ul {
  height: auto;
}

#menu-web li {
  margin-right: 40px;
  list-style-type: none;
  float: left;
}

#menu-web li.about {
  text-decoration: line-through;
  border-bottom: none;
  color: #b60664;
}

#menu-web li.about a:hover {
  border-bottom: none;
}

#menu-web a {
  color: #b60664;
  text-decoration: none;
}

#menu-web li a:hover {
  border-bottom: 1px #b60664 dotted;
}

/* menu for small screens*/
#menu-mobile {
  font-size: 1.6em;
  padding-left: 0px;
}

#menu-mobile ul {
  height: auto;
}

#menu-mobile li.about {
  text-decoration: line-through;
  color: #b60664;
}

#menu-mobile li {
  margin-right: 40px;
  margin-bottom: 5px;
  list-style-type: none;
}

#menu-mobile a {
  color: #b60664;
  text-decoration: none;
}

.jumbotron h1 {
  font-size: 3em;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: 600;
  letter-spacing: 2px; 
}

h1 {
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: 600;
  letter-spacing: 2px; 
  /*padding-bottom: 30px;*/
}

h1 span {
  padding: 0 70px 0 70px;
  background-image: url("../img/ctrl-shift.png");
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 0px center;
}

h2 {
  /*header-subtitle*/
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
  font-weight: 600;
  letter-spacing: 2px;
  /*line-height: 50%;*/
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

h4 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

h5 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}

p {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
  line-height: 163%;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 400px) {
  #menu-style li a:hover:not(.active) {
    border-bottom: none;
  }

  .header-menu {
    display: none;
  }

  . p {
    font-size: 1.1em;
  }

  body {
    /* background-color: #F09A9D; */
    /* Red */
  }
}

/*form*/
.form-area{
  max-width: 500px;
}

.form-control{
  color: #040995;
  background-color: rgba(255, 255, 255, 0.1);
  background-clip: padding-box; 
  border: transparent;   
  border-bottom: 1px solid #040995;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.1);;  
  border-color: red;
  box-shadow: none; 
  -webkit-box-shadow: none;
} 

@-webkit-keyframes autofill {
  to {
    color: #040995;
    background: rgba(255, 255, 255, 0.1);; 
  } 
}

@keyframes autofill {
  to {
    color: #040995;
    background: rgba(255, 255, 255, 0.1);; 
  } 
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; 
}

.btn-blue {
  color: #ffffff !important;
  background-color: #040995 !important;
  border-color: #040995 !important;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 700px) {
  body {
    /* background-color: #F5CF8E; */
    /* Yellow */
  }

  .jumbotron p{
    padding-top: 20px;
    text-align: justify;
  }

  .jumbotron h2{
    font-size: 0.8em;
  }

  h1 span {
    padding: 0;
    background-image: url("");
  }


  #menu-style li a:hover:not(.active) {
    border-bottom: none;
  }

  .mobile-menu {
    display: none;
  }
}

/* larger screens */
@media only screen and (min-width: 701px) {
  .mobile-menu {
    display: none;
  }
}










