/* Setting up colours */
:root {
    --background: #FDFCD1;
    --mid-primary: #074bdd;
    --dark-primary: #053cb0;

    --light-link: #bb2cc6;
    --light-link-hover: #d361dc;

    --dark-link: #07dd99;
    --dark-link-hover: #65dbb6;

    --text-highlight: #ecbbf0;

    --font-large-headings: OfficeCode, serif;
    --font-paragraph-modal: 'Karla', sans-serif;
    --font-paragraph-text: 'Karla', sans-serif;
    --font-small-headings: OfficeCode, serif;
    --font-nav-bar: OfficeCode, serif;
}

@font-face {
    font-family: BagnardSans;
    src: url("../fonts/BagnardSans.otf") format("opentype");
}

@font-face {
    font-family: Bagnard;
    src: url("../fonts/Bagnard.otf") format("opentype");
}

@font-face {
    font-family: CothamSans;
    src: url("../fonts/CothamSans.otf") format("opentype");
}

@font-face {
    font-family: OfficeCode;
    src: url("../fonts/OfficeCodePro-Light.otf") format("opentype");
}

@font-face {
    font-family: YoungSerif;
    src: url("../fonts/YoungSerif-Regular.otf") format("opentype");
}

/* setting up the grid
see https://css-tricks.com/snippets/css/complete-guide-grid/#prop-display
for more into */
body {
    background-color: var(--background);
    color: var(--mid-primary);
    font-size: 18px;
}

/* selection text */
::-moz-selection {
    /* Code for Firefox */
    background: var(--text-highlight);
    color: var(--mid-primary);
}

::selection {
    background: var(--text-highlight);
    color: var(--mid-primary);
}

#navbar {
    height: 75px;
}

@media (max-width: 850px) {
    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 3;
    }
}

hr {
    height: 1px;
    background-color: var(--dark-link);
    border: none;
}

hr.yelz {
    background-color: var(--background);
    border: none;
}

a:hover {
    color: var(--light-link-hover);
    text-decoration: none;
}

p a {
    text-decoration: none;
    color: var(--dark-primary);
    border-bottom: 1px solid var(--mid-primary);
}

.nav-link {
    font-size: 30px;
    justify-content: end;
}

a.dark-link:hover {
    color: var(--background) !important;
}

.dark-link {
    color: var(--dark-link)
}

a.nav-link:hover {
    color: #65dbb6 !important;
}


/*
commenting this out as not using dropdown
a.dropdown-item:hover {
    color: var(--background) !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--background);
}
*/


.container {
   width: 100%;
   max-width: 1200px;
   overflow: hidden;
/*    border: 1px black solid;*/
}

/*P5 sketch container*/
.sketch {
    padding-right: 0;
    padding-left: 0;
}

.jumbotron {
    min-height: 70vh;
    /* background-image: url("/img/control-shiftBG.gif") !important;*/
/*    background-image: url("../img/control-shift-bg.png") !important;*/
    background-attachment: fixed;
    /*  background-position: center;*/
    /*  background-repeat: no-repeat;*/
   background-color: transparent;*/
   background-size: 1000px;
/*        border: 1px black solid;*/

}

.jumbotron h2 {
    /*    font-style: italic;*/
}

/* MENU */
.navbar {
    font-family: var(--font-nav-bar)
}

.navbar .active {
    text-decoration: line-through !important;
}

.navbar a:hover {
    text-decoration: none;
    color: var(--dark-primary);
}

.navbar-light .navbar-toggler {
    color: transparent !important;
    border: 0px;
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
}

.nav-bar-mobile-open {
    border-bottom: 1px solid var(--dark-link);
    padding-bottom: 30px;
}

/*

>>>>dropdown again

.dropdown-menu {
    background-color: var(--background);
    border: 2px solid var(--dark-link);
    border-radius: 0rem;
}

@media (max-width: 850px) {
    .dropdown-menu {
        border: none;
    }
}

.dropdown-item:hover {
     background-color: var(--mid-primary);
}
*/

/* MENU for small screens */
#menu-mobile {
    font-size: 1.6em;
    background-color: #fdfcd1;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
}

#menu-mobile a {
    color: var(--dark-link);
    text-decoration: none;
}

#menu-mobile a:hover {
    color: var(--hover-colour);
}

/* nav bar for mobile */

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

@media (max-width: 850px) {
    .nav-bar-space {
        margin-top: 58px;
    }
}

.menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #07dd99;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #07dd99;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}

.menu-btn__burger::after {
    transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg);
}

.anchor {
    margin-left: auto;
    margin-right: 0;
}


.footer-text {
    text-align: center !important;
    font-style: italic;
    color: var(--background);
}

.footer,
.page-footer {
    /*  background-color: #040995 !important;*/
    background-color: var(--dark-primary) !important;
    color: #fae6e7;
    padding-bottom: 20px;
}


/*  Making footer stick to bottom of page on the programmes page ;*/

.programme-page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap-programme {
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .content-wrap-programme {
        padding-bottom: 40px;
    }
}

/*logos*/

.logos img {
    /*max-width: 200px;*/
    max-height: 90px;
    margin: 20px;
    /*  border: 1px solid white;*/
}

.row.logos {
    align-items: center;
}

.icon-max-width-footer {
    max-width: 20px;
    margin: 10px;
}

.social {
    align-items: center;
    max-width: 165px;
    margin: 0 auto;
}

.centerSocials {
    margin: 0 auto;
}

/* convert social media svgs to blue & turn green on hover */
.filter-blue {
    /* green */
    filter: invert(87%) sepia(35%) saturate(261%) hue-rotate(343deg) brightness(108%) contrast(103%);
}

.filter-blue:hover {
    /* yellow hover */
    filter: invert(79%) sepia(35%) saturate(6989%) hue-rotate(114deg) brightness(101%) contrast(94%);
}

.filter-green {
    /* blue */
    filter: invert(15%) sepia(67%) saturate(5331%) hue-rotate(222deg) brightness(79%) contrast(96%);
}


.filter-green:hover {
    /* pink hover */
    filter: invert(53%) sepia(97%) saturate(1984%) hue-rotate(266deg) brightness(95%) contrast(80%);
}

/* home page central heading */
.jumbotron h1 {
    font-size: 4em;
    font-family: var(--font-small-headings);
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 4px 4px 1px var(--dark-link);
}

/* home page central heading */
h1 {
    font-size: 1.8em;
    font-family: var(--font-small-headings);
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
    /*    text-shadow: 2px 2px var(--dark-link);*/
}

/* home page central heading */
/*
h1 span {
    padding: 0 5px 0 5px;
    font-family: var(--font-large-headings);
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 70%;
    background-color: rgba(248, 242, 201, 0.9);
        font-style: italic;
}
*/

/* home page central heading */
.jumbotron h2 span {
    /* header-subtitle */
    font-size: 1.2em;
    color: var(--mid-primary);
    background-color: rgba(248, 242, 201, 0.9);
    font-family: var(--font-nav-bar);
    font-weight: 500;
    letter-spacing: 1px;
}

/* header-subtitle */
h2 {
    font-size: 1.2em;
    color: var(--mid-primary);
    font-family: var(--font-paragraph-text);
    font-weight: 600;
    letter-spacing: 1px;
}

.subtitle {
    padding-bottom: 5px;
}

/* header-subtitle */
h3 {
    font-family: var(--font-paragraph-text);
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--dark-link);
}

/* header-subtitle */
h4 {
    font-family: var(--font-paragraph-text);
    font-weight: 300;
    letter-spacing: 2px;
}

/* header-subtitle */
h5 {
    font-size: 0.7em;
    font-family: var(--font-paragraph-text);
    font-weight: 200;
    letter-spacing: 2px;
}

/* Paragraph text */
p,
li {
    font-size: 1.05em;
    font-family: var(--font-paragraph-text);
    letter-spacing: 0.5px;
    line-height: 163%;
}

.gridText {
    font-family: var(--font-paragraph-text);
    letter-spacing: 0.5px;
}

.gridTitle {
    font-weight: 800;
    font-size: 1.05em;
}

.gridAbout {
    font-size: 1.05em;
}

.aboutText {
    font-size: 0.8em;
    padding-right: 5px;
    padding-left: 5px;
}

/* form */
.form-area form {
    width: 100%;
    max-width: 600px;
    max-width: 600px;
}

.padding-bottom {
    margin-bottom: 30px;
}

.form-control {
    color: var(--dark-primary);
    background-color: var(--background);
    background-clip: padding-box;
    border: transparent;
    border-radius: 0px;
    border-bottom: solid 1px var(--dark-primary);
}

.justify-content-center {
    justify-content: left !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 0, 0, 0.2);
    opacity: 1;
    /* Firefox */
}


input[name=FNAME].form-control {
    display: inline;
    margin-right: 2%;
}

input[name=LNAME].form-control {
    display: inline;
}

.form-control:focus {
    background-color: rgba(255, 255, 255, 0.1);
    ;
    border-bottom: solid 1px var(--dark-link);
    box-shadow: none;
    -webkit-box-shadow: none;
}

/* #contactForm {
    margin-left: 30px;
} */

.form-check-label {
    font-size: 19px;
    font-family: var(--font-paragraph-modal);
    margin-left: 15px;

}

.form-check {
    margin-left: 10px;
}

#SubscribeCheckBox {
    height: 25px;
    width: 25px;
}

/* end of form */

@-webkit-keyframes autofill {
    to {
        color: var(--dark-primary);
        background: rgba(255, 255, 255, 0.1);
        ;
    }
}

@keyframes autofill {
    to {
        color: var(--dark-primary);
        background: rgba(255, 255, 255, 0.1);
        ;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    animation-name: autofill;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.send-submit {
    background-color: var(--dark-primary);
    margin-top: 20px;
    padding: 8px;
    text-align: center;
    color: var(--background);
    width: 25%;
    min-width: 100px;

}

.send-submit:hover {
    background-color: var(--dark-link-hover);
    color: var(--background);
}

/* contact form modal styles */
.is-hidden {
    display: none;
}

#overlay {
    border: 1px solid red;
    position: relative;
    min-height: 40px;
    border-radius: 4px;
    padding-right: 30px;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 4px;
    background-color: red;
    color: white;
    font-size: 0.8em;
}

.button-close {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAAsTAAALEwEAmpwYAAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAABlUlEQVQ4Ea2VTWoCQRCFe5JJxkhECIRAruBJssomGMhpPIK4EzyBJ3LvQnHjYhBHBCfv67ySrJMZKLuon9f112VKKZXz+byvM3/L5fJRTCW6E92KbkSFCR4Zusq2YlMyRhlMOhwOb3Vdf1g51NkT3YtKEUAQPLKeALBJ+OALfw0MQdu2zUXffr9/R7lYLJ50EHlEm6NCZl3CFh98A1T6n1usaHUed7tdjnQ2mz2PRiNK8ADBI8MHG2wFhs8lsktRB98WBs1msxnLr5hOpy86SW9ovkAnjMZgx8gqsKqoh28Nw9N2u/0UUDmZTF4heGQCOxmsiWyMQXlyx3pRF99+dViv11+yGUDwvyI7OYuoN02kznkM6Fzf9SkcRUR6Xq1WY0hg54jM0Rf2oXlgMFLXcagouutUOpoAqAVWG+zsqEts3TRSjfHKQ8uMES7dHLpeA0eVgQxWI5PNwDY0Cx98wSj46fyLF9BZyhSy06aQf6dj0+1gx3Pp8unlFaQ5Y2v8fzkwM52ur1iKgMYK8kP/84Lt9C/gG/ADdWnOKsm1AAAAAElFTkSuQmCC');
}

/* modal styles */

.btn-blue {
    color: #ffffff !important;
    background-color: var(--mid-primary) !important;
    border-color: var(--mid-primary) !important;
}

/*download-docs*/
.download-docs .material-icons {
    vertical-align: top;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 400px) {

    .jumbotron h1 {
        font-size: 2em;
        /*        text-shadow: 2px 2px var(--dark-link);*/
    }

    #menu-style li a:hover:not(.active) {
        border-bottom: none;
    }

    .jumbotron h2 span {
        /* header-subtitle */
        font-size: 0.8em;
    }

    .header-menu {
        display: none;
    }

    .p {
        font-size: 1.1em;
    }

    input[name=FNAME].form-control {
        display: block;
        width: 100%;
    }

    input[name=LNAME].form-control {
        display: block;
        width: 100%;
    }

    .send-submit {
        margin: 0 auto;
        width: 50%;
    }

    .form-check {
        padding-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 700px) {
    .jumbotron p {
        padding-top: 20px;
        /*  text-align: justify;*/
    }

    .jumbotron h2 span {
        /* header-subtitle */
        font-size: 0.8em;
    }

    .jumbotron .how-to-apply {
        display: none;
    }

    h1 span {
        padding: 0;
        background-image: url("");
    }

    .jumbotron h1 {
        font-size: 2em;
        /*        text-shadow: 2px 2px var(--dark-link);*/
    }


    .logos img {
        max-width: 200px;
    }

    h1 span {
        padding: 0;
        background-image: url("");
    }

    .home-page-content {
        text-align: center;
    }

    #menu-style li a:hover:not(.h5) {
        border-bottom: none;
    }

    .mobile-menu {
        display: none;
    }
}

/* larger screens */
@media only screen and (min-width: 701px) {
    .mobile-menu {
        display: none;
    }
}

.youtubeEmbed {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .youtubeEmbed {
        width: 100%
    }
}
